.comment-info-list{
    overflow: scroll;
    height: 80vh;
    
    display: flex;
    flex-direction: column;
    gap: 10px;

    span{
        margin-left: auto;
        margin-right: auto;
        color: gray;
        font-style: oblique;
    }
    .comment-info-item{
        border: solid 1px black;
        border-radius: 5px;
        padding: 10px;

        display: flex;
        flex-direction: column;
        gap: 10px;
        .comment-book-info{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            img{
                vertical-align: middle;
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            .comment-link{
                text-decoration: none;
                color: black;
            }
        }
        .comment-info{
            p{
                word-break: break-all;
                white-space: normal;
            }
        }
    }
}