.rating-list{
    overflow: scroll;
    height: 80vh;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    span{
        margin-left: auto;
        margin-right: auto;
        color: gray;
        font-style: oblique;
    }
    .rating-item{
        border: solid 1px black;
        border-radius: 5px;
        padding: 10px;

        display: flex;
        flex-direction: column;
        gap: 10px;
        .rating-book-info{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            img{
                vertical-align: middle;
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
    }
}